<div class="container">
 <form #todoForm= "ngForm" (submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
  <div class="form-group">
    <div class="input-group-prepend container">
  <h1 class="text-center ">Eventos</h1>
  <span class="input-group-text" (click)="readEventsFromServer()" style="right: 180px; top: 15px; border-radius: 0%; border: none;background: #f4f4f4;  color: #000;"> <i class="material-icons">autorenew</i></span>
</div>
   <div class="input-group-prepend container">
   	   <div class="col">
   	   		<div class="row">
       			<input type="text" #todo  class="form-control" placeholder="Descricao" name="todo" ngModel>
       		</div>
       		<div class="row">
       			<div class="col">
       				<input type="text" #start  class="form-control" placeholder="Inicio" name="start" ngModel>
       			</div>
       			<div class="col">
       				<input type="text" #end  class="form-control" placeholder="Termino" name="end" ngModel>
   	  			</div>
   	  		</div>
   	  	</div>
    <span class="input-group-text" (click)="addTodo(todo.value, start.value, end.value)">
    <i class="material-icons">add</i></span>
   </div>
   <input type="submit" style="visibility: hidden;" />
  </div>
  <div class="data">
  <ul class="list-unstyled">
   		<li [@moveInLeft]  *ngFor="let todo of todoArray"><b> I:</b> {{todo.start}} <b>T:</b> {{todo.end}} <b>D:</b> {{todo.description}} <i (click)="deleteItem(todo)" class="material-icons">delete</i></li>
  </ul>
 </div>
 </form>
</div>
